/* *{
    margin: 0px;
    padding: 0px;
} */
h1{
    color: red;
}
/* input{
    outline: auto;
} */


/* #form{
    position: relative;
} */
/* form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

} */
